$primary-pink: #ff1e54;
$secondary-pink: #ff5b83;
$dark-pink: #ff5d8f;
$primary-brown: #f4b894;
$primary-violet: #e764e4;
$primary-orange: #ee6c4d;

$light-gray: #6b6b6b;
$dark-gray: #1a1a1a;
$navbar-height: 3rem;
$custom-heading: 2.5rem;

:root{
    --pink-1: #ff1e54;
    --gray-1: #7C7C7C;
    --gray-2: #1a1a1a;
    --gray-3: #E1E1E1;

}

*{
    font-family: "Poppins", sans-serif !important;
}